.projects {
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
padding-top: 10vh;
}

.project-container {
	max-width: 1600px;
}

.project-title {
	font-size: 3em;
	text-align: center;
}

/* .card-image img,  */
.card-img {
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}

/* .image-div, */
.card-img-div {
	border-radius: 10px;
	border: 2px solid var(--color-primary);
	overflow: hidden;
	max-width: calc(100% - 2vw);
	height: 260px;
}

.card-img {
	filter: grayscale(0.6) blur(15px);
	object-fit:contain;
}

/* .card-image h3, */
.card-title {
	z-index: 1;
	transition: all 0.3s ease-in-out;
	color: var(--color-primary);
	position: absolute;
	margin-left: 10px;
	font-weight: bold;
	text-shadow: 0 2px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0px 0px 0px rgba(206,89,55,0);
}

.card-desc {
	z-index: 1;
	transition: all 0.3s ease-in-out;
	width: 300px;
	color: var(--color-white);
	font-size: 1rem;
	position: absolute;
	padding: 70px 10px 10px 30px;
	text-align: left;
}
.card-container:hover p,
.card-container:hover h2 {
	color: var(--color-white);
	font-weight: bold;
	text-shadow: none;
}

/* .card-image, */
.card-container {
	display: inline-block;
	width: 500px;
	margin: 0;
	padding: 20px;

}

.cards {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
}

/* .card-image:hover img, */
.card-container:hover img{
	filter: none;
}

/* .card-image:hover h3, */
.card-title:hover {
	color: hsla(0, 0%, 13%, 0%);
	text-shadow: none;

}

/* .buttons, */
.card-btn {
	position: relative;
	margin-top: -20px;
	margin-right: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
}

.card-btn .btn-primary a {
	color: black;
	font-weight: bold;
	line-height: 1.7;
}

.card-btn .btn a {
	font-weight: bold;
	line-height: 1.7;
}

.btn {
  width: min-content;
  color: var(--color-primary);
	background-color: var(--color-bg);
	padding: 6px;
  margin: 4px;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
 background: var(--color-primary);
 color: var(--color-bg);
}

@media screen and (max-width: 1024px) {
	.card-container{
		width: 400px;
		min-width: 300px;
	}

	.card-desc {
		padding: 50px 10px 10px 20px;
		max-width:500px;
		max-height: 240px;
	}
}

@media screen and (max-width: 700px) {

	.card-container{
		width: 150px;
	}
	.card-desc {
		padding: 50px 10px 10px 20px;
		max-width:200px;
		max-height: 240px;
	}
}


