.bio {
	padding-top: 2vh;
	padding-left: 5vw;
	margin: auto;
	margin-left: clamp(5vw, 0vw + 10%, 12vw);
	background-color: black;
}
/* ===========MEDIA QUERIES (medium)===========*/

@media screen and (max-width: 1024px) {
	.bio {
		padding-left: 15vw;
	}
}
