.bio {
	margin: auto;
	margin-left: clamp(5vw, 0vw + 10%, 12vw);
	padding-left: 2vw;
	text-align: center;
}

.bio h2 {
	padding: 20px 0 0 0;
	font-size: 3em;
	text-align: center;
}

.bio h3 {
	padding: 20px 0;
	font-size: 2em;
	text-align: center;
}

.bio h4 {
	padding: 50px 20px;
	font-size: 1.3em;
	text-align: center;
}

.bio p {
	text-align: center;
	padding: 0 40px 20px;
}

.bio div {
	padding-left: 10px;
	border-left: 6px solid rgb(5, 169, 33) !important;
}
/* ===========MEDIA QUERIES (medium)===========*/

@media screen and (max-width: 1024px) {
	.bio {
		padding-left: 15vw;

	margin-left: clamp(1vw, 0vw + 10%, 1vw);
	}

}
