.bio {
	margin: auto;
	margin-left: 40px;
	padding-left: 2vw;
	text-align: center;
}

.bio img {
	margin: 20px 0 40px;
	border-radius: 200px;
	border: 5px solid var(--color-primary);
}

.bio h2 {
	padding: 20px 0 0 0;
	font-size: 2.5em;
	text-align: center;
}

.bio h3 {
	padding: 20px 0;
	font-size: 1.8em;
	text-align: center;
}

.bio h4 {
	padding: 50px 20px;
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
}

.bio p {
	text-align: center;
	padding: 0 40px 20px;
}

.bio div {
	padding-left: 10px;
	border-left: 6px solid rgb(5, 169, 33) !important;
}
/* ===========MEDIA QUERIES (medium)===========*/

@media screen and (max-width: 1024px) {
	.bio {
		padding-left: 15vw;

	margin-left: clamp(1vw, 0vw + 10%, 1vw);
	}

}
@media screen and (max-width: 700px) {
	.bio {
		padding-left: 10vw;
	}
	.bio div {
		padding-left: 0px !important;
		border-left: none !important;

	}

	.bio h2 {
		font-size: 1.6em;
	}

	.bio h3 {
		font-size: 1.4em;
	}

	.bio h4 {
		font-size: 1em;

	}

	.bio p {
		font-size: 0.9em;
	}
}
