
.contact {
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 10vh;
}

.contact-container {
	max-width: 1200px;
}

@media screen and (max-width: 700px) {

	.contact {
		padding-top: 2vh;
	}
}
