.header {
	background: var(--color-bg-variant);
	width: 100vw;
	height: 30%;
	padding: 5% 0;
}

.title {
	font-size: clamp(2.6rem, 0.3rem + 4.5vw, 8rem);
}

.links {
	display: flex;
	justify-content: left;
	gap: 2rem;
	font-size: clamp(1rem, 0.1rem + 4vw, 2rem);
}

/* ===========MEDIA QUERIES (medium)===========*/

@media screen and (max-width: 1024px) {
	.header {
		height: 30%;
		padding: 10% 0;
	}
}
