.header {
	/* background: var(--color-bg-variant-2); */
	position: relative;
	overflow: hidden;
	background-color: hsla(296, 67%, 86%, 0.666);
	height: 100vh;
	max-height: 1600px;
	width: 100%;
}

.blob1 {
	/* a perfectly square <svg> element that will never overflow the viewport */
	position: absolute;
	width: 100vw;
	filter: blur(80px);
}


.blob2 {
	/* a perfectly square <svg> element that will never overflow the viewport */
	position: absolute;
	width: 50%;
	filter: blur(80px);
}

.blob3 {
	/* a perfectly square <svg> element that will never overflow the viewport */
	position: absolute;
	width: 50%;
	filter: blur(80px);
}

.header-container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: hsla(0, 0%, 18%, 0.666);
	z-index: 100;
}

.header-container h1 {
	text-align: center;
	position: relative;
	font-size: 5em;
	z-index: 10;
}

.header-container a {
	color: hsla(0, 0%, 18%, 0.666);
}

.title {
	font-size: clamp(2.8rem, -0.4286rem + 6vw, 5rem);
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding-bottom: 1vw;
	font-size: clamp(0.4rem, 0.6rem + 4vw, 2rem);
}

.seperator {
	background: linear-gradient(hsla(240, 21%, 16%, 0) 0%, hsla(240, 21%, 16%, 0.1) 20%, hsla(240, 21%, 16%, 0.5) 60%, hsl(240, 21%, 16%) 100%);
	position: absolute;
	height: 5vh;
	width: 100%;
	bottom: 0;
}

/* ===========MEDIA QUERIES (medium)===========*/

@media screen and (max-width: 1024px) {

	.header-container h1 {
		font-size: 4em;
	}
}

@media screen and (max-width: 700px) {

	.header-container h1 {
		font-size: 3em;
	}
}
