@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fira+Code:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: hsl(240, 19%, 10%) ;
  --color-bg-variant:hsl(240, 21%, 16%)  ;
  --color-bg-variant-2:hsl(240, 22%, 12%)  ;
  --color-primary:hsl(123, 72%, 46%) ;
  --color-primary-variant:hsl(123, 78%, 33%) ;
  --color-white:hsl(0, 0%, 85%) ;
  --color-light:hsl(64, 19%, 72%);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  font-family:'Fira Code', monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', monospace;
}

/* ===========GENERAL STYLES===========*/

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}



/* ===========MEDIA QUERIES (medium)===========*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-sm);
  }
}

/* ===========MEDIA QUERIES (small)===========*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-md);
  }
}
