.nav-div {
  z-index: 1;
  position:fixed;
  background: var(--color-bg-variant-3);
  height: 100%;
  min-width: 55px;
  text-align: left;
}

.link-div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-left: 35px;
  gap: 34px;
}

.icon-menu {
  margin-top: 30px;
  display: flex;
  position: absolute;
  flex-direction: column;
  padding-top: 6px;
  padding-left: 10px;
  gap: 30px;
  color: var(--color-primary);
  font-size: 2em;
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 700px) {

}
