.nav-div {
  z-index: 999;
  position:fixed;
  background: var(--color-bg-variant-3);
  height: 100%;
  min-width: 55px;
  text-align: left;
  box-shadow: 5px 0px 10px hsla(0, 0%, 0%, 0.284);
}

.container {
  margin: 0 10px;
}

.link-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 13px;
  gap: 30px;
}

.link-div span {
  position:relative;
  top: -7px;
}

.icon-menu {
  margin-top: 10px;
  display: flex;
  padding-top: 2px;
  padding-left: 10px;
  color: var(--color-primary);
  font-size: 2em;
}

@media screen and (max-width: 700px) {
  .nav-div{
    display: none;
  }

}
